.contactanos{
    margin-left: 50px;
    }
    
    
    .info-form h2{
        margin-bottom: 15px;
        font-size: 35px;
    }
    .info-form p{
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .logo{
        font-size: 17px;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 15px;
        }
    
        .campo{
            width: 100%;
            padding: 15px 10px;
            font-size: 15px;
            border: 1px solid;
            margin-bottom: 20px;
        }
    .formulario{
        width: 50%; 
    position: 200px 100px;
    margin-top: 50px;
    margin-bottom: 50px;}
    