.titulo { color:black;
    text-align: center;
    background-color: rgb(60, 193, 234);
    font-size: 50px;
}
.navbar{background-color: rgb(241, 237, 237);
    color: white;
    text-decoration: none;
}

.logo1{
    height: 50px;
    position: absolute;
    margin-left:  20px;
}
.navbar li{display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration:overline;
    }

.parrafo {font-size: 25px;
text-align: center;
width: 100%;
height: 50px;
margin-top: 50px;}

.banner{
    background-image: url(../asset/img/fondo.webp);
    background-repeat: no-repeat;
    background-position: cover;
    }

.productos1{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    }

    .productos2{
        display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    }
.parrafo{
    font-size: 30px;
}
.logo{
    height: 40px;
    margin-top: 20px;
}