.promos{ 
    display: flex;
    justify-content: center;
    gap: 200px;
    
}

.promo{
    width: 400px;
    height: 200px;
    border: solid 2px rgb(27, 19, 77);
    background-color: rgba(60, 193, 234, 0.347);
overflow: auto;}



.texto{ 
    font-size: 30px;
}

.texto1{
    position: absolute;
    left: 40px;
    top: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

    h2{
        text-align: center;
        margin-top: 20px;
    }
    .lanzamientos{ 
        display: flex;
        justify-content: center;
        gap: 150px;
        margin-bottom: 20px;
    }