.botines{ 
    display: flex;
    flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
text-align: center;}


.item2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    gap: 50px;
}

.balones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
    gap: 50px;
}

.camperas{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap: wrap;
    gap: 50px;
}
.remeras{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap: wrap;
    gap: 50px;
}